<div class="jumbotron">
  <div class="col-lg-offset-1">
    <% unless notice.nil? then %>
      <div class="container">
        <div class="col-md-11">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Success</h3>
            </div>
            <div class="panel-body">
              <%= notice %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container">
      <div class="col-md-5">
        <h3>Author: </h3>
        <p class="text-primary"><%= @comment.author %></p>
      </div>
    </div>

    <div class="container">
      <div class="col-md-5">
        <h3>Description:</h3>
        <p class="text-primary"><%= @comment.text %></p>
      </div>
    </div>

    <div class="container">
      <div class="col-md-5">
        <h3>Status:</h3>
        <p class="text-primary"><%= @comment.status %></p>
      </div>
    </div>
    <% unless @comment.book.nil? then %>
      <div class="container">
        <div class="col-md-5">
          <h3>Parent Book:</h3>
          <p class="text-primary"><%=  @comment.book.name %></p>
        </div>
      </div>
    <% end %>
    <div class="container">
      <div class="col-md-5 buttons">
        <%= link_to 'Edit', edit_comment_path(@comment), :class=>'btn btn-primary' %>
        <%= link_to 'Back', comments_path, :class=>'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
