<div class="jumbotron">
  <div class="col-lg-offset-1">
    <% if @book.status == false then %>
      <div class="container">
        <div class="col-md-11">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Attention</h3>
            </div>
            <div class="panel-body">
              We haven't this book
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container">
        <div class="col-md-12">
          <h2 class="text-center"><%= @book.name %></h2>
        </div>
      </div>
      <div class="container">
        <div class="col-md-12 text-center">
  <%#= image_tag @book.image.url %>
          <%= image_tag @book.image.url(:medium), :class=>'img-thumbnail' %>
  <%#= image_tag @book.image.url(:thumb) %>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="col-md-12">
          <p class="text-primary text-center"><%= @book.description %></p>
        </div>

        <%= render partial: 'comment/show' %>
        <% if user_signed_in?  %>
          <%= render partial: 'comment/new' %>
        <% else %>
          <p>You have to be logged to add comments</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>