<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating_value %><br>
    <%= f.collection_select(:value,
      @rating_values,
      :to_i,
      :to_i,
      { :prompt => true })
  %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.collection_select(:book_id,
      @books,
      :id,
      :name,
      { :prompt => true })
  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
