<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="well bs-component col-lg-8">
  <%= form_for @book, multipart: true, :html => { :class => 'form-horizontal col-lg-12' } do |f| %>
    <fieldset class="col-md-5">
      <legend>Book</legend>

      <div class="form-group">
        <%= f.label :name, :class=>"col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, :class=>"col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :description %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'book_status', :class=>"col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= select_tag 'book[status]', options_for_select([ ['True', 't'], ['Flase', 'f'] ], @book.status == true ? 't':'f'), :class=>"form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label 'Categories', :class=>"col-lg-4" %>
        <div class="col-lg-7 col-lg-offset-1">
          <%= collection_check_boxes(:book, :category_ids, @categories, :id, :title) do |box|%>
            <div class="checkbox">
              <%= box.check_box %>
              <%= box.label %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Image', :class=>"col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.file_field :image %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-4">


          <%= f.submit :class=>"btn btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
