<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<%#= image_tag @book.image.url %>
<%= image_tag @book.image.url(:medium) %>
<%#= image_tag @book.image.url(:thumb) %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
