<h1>Categories#index</h1>
<% unless @category.blank? %>
  <table border="2px">
    <tr>
      <th>Tytul</th>
      <th>Opis</th>
      <th>Status</th>
      <th>Akcje</th>
    </tr>

    <% @category.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.description %></td>
        <td><%= category.status %></td>
        <td>
          <%= link_to edit_category_path(category), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <p>Edit</p>
          <%- end -%>
          <%= link_to category_path(category), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <p>Usun</p>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>

  <p> Brak kategori</p>

<% end %>
